#    Analyse de données milliardaire programmée par Martin Ludovic SIMA pour Mme Zhanna KISELOVA

In [10]:
import pandas as pd

import seaborn as sns

import re

In [11]:
from dateutil.relativedelta import relativedelta

In [12]:
import numpy as np

In [ ]:
#creer un dataframe

In [13]:
dataset = pd.read_excel('donnee_milliardaires.xlsx',sheet_name ='Sauvegarde')

In [14]:
dataset

,rang,categorie,prenomNom,pays,ville,source,domaine,luiMeme,genre,nom,...,revenuFinal,anneeNaissance,moisNaissance,jourNaissance,cpi_pays,pib_pays,esperance_ de_vie_pays,tax_revenue_pays,total_taux_imposition_pays,population_pays
0,1,Mode & Commerce,Bernard Arnault & family,France,Paris,LVMH,Fashion & Retail,False,H,Arnault,...,211000,1949,3,5,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
1,2,Automobile,Elon Musk,États-Unis,Austin,"Tesla, SpaceX",Automotive,True,H,Musk,...,180000,1971,6,28,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
2,3,Technologie,Jeff Bezos,États-Unis,Medina,Amazon,Technology,True,H,Bezos,...,114000,1964,1,12,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
3,4,Technologie,Larry Ellison,États-Unis,Lanai,Oracle,Technology,True,H,Ellison,...,107000,1944,8,17,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
4,5,Finance & Investissements,Warren Buffett,États-Unis,Omaha,Berkshire Hathaway,Finance & Investments,True,H,Buffett,...,106000,1930,8,30,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,497,Service,Gary Rollins,États-Unis,Atlanta,Pest control,Service,False,H,Rollins,...,5300,1944,8,30,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
477,497,Finance & Investissements,Mark Walter,États-Unis,Chicago,"Finance, asset management",Finance & Investments,True,H,Walter,...,5300,1960,5,22,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
478,497,Fabrication,Ronald Wanek,États-Unis,Saint Petersburg,Furniture,Manufacturing,True,H,Wanek,...,5300,1941,5,19,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
479,497,Alimentation & Boissons,Erich Wesjohann & family,Allemagne,Visbek,Poultry genetics,Food & Beverage,True,H,Wesjohann,...,5300,1945,6,2,112.85,"$3,845,630,030,824",80.9,11.5,48.8,83132799
480,497,Mode & Commerce,M.A. Yusuff Ali,Émirats arabes unis,Abu Dhabi,Retail,Fashion & Retail,True,H,Yusuff Ali,...,5300,1955,11,15,114.52,"$421,142,267,938",77.8,0.1,15.9,9770529

In [15]:
dataset.head()

,rang,categorie,prenomNom,pays,ville,source,domaine,luiMeme,genre,nom,...,revenuFinal,anneeNaissance,moisNaissance,jourNaissance,cpi_pays,pib_pays,esperance_ de_vie_pays,tax_revenue_pays,total_taux_imposition_pays,population_pays
0,1,Mode & Commerce,Bernard Arnault & family,France,Paris,LVMH,Fashion & Retail,False,H,Arnault,...,211000,1949,3,5,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
1,2,Automobile,Elon Musk,États-Unis,Austin,"Tesla, SpaceX",Automotive,True,H,Musk,...,180000,1971,6,28,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
2,3,Technologie,Jeff Bezos,États-Unis,Medina,Amazon,Technology,True,H,Bezos,...,114000,1964,1,12,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
3,4,Technologie,Larry Ellison,États-Unis,Lanai,Oracle,Technology,True,H,Ellison,...,107000,1944,8,17,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
4,5,Finance & Investissements,Warren Buffett,États-Unis,Omaha,Berkshire Hathaway,Finance & Investments,True,H,Buffett,...,106000,1930,8,30,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523

In [16]:
dataset.dtypes

rang                            int64
categorie                      object
prenomNom                      object
pays                           object
ville                          object
source                         object
domaine                        object
luiMeme                          bool
genre                          object
nom                            object
prenom                         object
revenuFinal                     int64
anneeNaissance                  int64
moisNaissance                   int64
jourNaissance                   int64
cpi_pays                      float64
pib_pays                       object
esperance_ de_vie_pays        float64
tax_revenue_pays              float64
total_taux_imposition_pays    float64
population_pays                 int64
dtype: object

In [17]:
dataset[dataset.isna()].count()

rang                          0
categorie                     0
prenomNom                     0
pays                          0
ville                         0
source                        0
domaine                       0
luiMeme                       0
genre                         0
nom                           0
prenom                        0
revenuFinal                   0
anneeNaissance                0
moisNaissance                 0
jourNaissance                 0
cpi_pays                      0
pib_pays                      0
esperance_ de_vie_pays        0
tax_revenue_pays              0
total_taux_imposition_pays    0
population_pays               0
dtype: int64

In [18]:
dataset[dataset.duplicated()].count()

rang                          6
categorie                     6
prenomNom                     6
pays                          6
ville                         6
source                        6
domaine                       6
luiMeme                       6
genre                         6
nom                           6
prenom                        6
revenuFinal                   6
anneeNaissance                6
moisNaissance                 6
jourNaissance                 6
cpi_pays                      6
pib_pays                      6
esperance_ de_vie_pays        6
tax_revenue_pays              6
total_taux_imposition_pays    6
population_pays               6
dtype: int64

In [19]:
dataset=dataset.drop_duplicates()

In [20]:
dataset.shape

(475, 21)

In [21]:
dataset['genre'].value_counts()

H    407
F     68
Name: genre, dtype: int64

In [22]:
dataset['genre'] = dataset['genre'].replace(to_replace=[r'^F$',r'^H$'],value=['femme','homme'],regex =True, inplace=False)

C:\Users\marti\AppData\Local\Temp\ipykernel_34716\2849780264.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['genre'] = dataset['genre'].replace(to_replace=[r'^F$',r'^H$'],value=['femme','homme'],regex =True, inplace=False)

In [23]:
dataset['genre'].value_counts()

homme    407
femme     68
Name: genre, dtype: int64

In [24]:
dataset.dtypes

rang                            int64
categorie                      object
prenomNom                      object
pays                           object
ville                          object
source                         object
domaine                        object
luiMeme                          bool
genre                          object
nom                            object
prenom                         object
revenuFinal                     int64
anneeNaissance                  int64
moisNaissance                   int64
jourNaissance                   int64
cpi_pays                      float64
pib_pays                       object
esperance_ de_vie_pays        float64
tax_revenue_pays              float64
total_taux_imposition_pays    float64
population_pays                 int64
dtype: object

In [26]:
dataset['pib_pays'].astype('float64')

ValueError: could not convert string to float: '$2,715,518,274,227 '

In [27]:
list_pib = dataset['pib_pays'].to_list()
list_pib_nouv =[]
for el in list_pib :
    el = re.sub(r'[^\d]+','', el)
    list_pib_nouv.append(el)
print(list_pib[0], list_pib_nouv[0])

$2,715,518,274,227  2715518274227

In [28]:
dataset['pib_pays'] = pd.Series(list_pib_nouv)

C:\Users\marti\AppData\Local\Temp\ipykernel_34716\1537722871.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['pib_pays'] = pd.Series(list_pib_nouv)

In [29]:
dataset['pib_pays'] =dataset['pib_pays'].astype('float64')

C:\Users\marti\AppData\Local\Temp\ipykernel_34716\1967289592.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['pib_pays'] =dataset['pib_pays'].astype('float64')

In [30]:
dataset['pib_pays'].dtypes

dtype('float64')

In [31]:
dataset['pib_pays'].head()

0    2.715518e+12
1    2.142770e+13
2    2.142770e+13
3    2.142770e+13
4    2.142770e+13
Name: pib_pays, dtype: float64

In [ ]:
#ajoute la colonne d'age

In [32]:
dataset.columns

Index(['rang', 'categorie', 'prenomNom', 'pays', 'ville', 'source', 'domaine',
       'luiMeme', 'genre', 'nom', 'prenom', 'revenuFinal', 'anneeNaissance',
       'moisNaissance', 'jourNaissance', 'cpi_pays', 'pib_pays',
       'esperance_ de_vie_pays', 'tax_revenue_pays',
       'total_taux_imposition_pays', 'population_pays'],
      dtype='object')

In [33]:
dataset['dateNaissance'] = dataset['jourNaissance'].astype('str') + '-' + dataset['moisNaissance'].astype('str') + '-' + dataset['anneeNaissance'].astype('str')

C:\Users\marti\AppData\Local\Temp\ipykernel_34716\2241813526.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['dateNaissance'] = dataset['jourNaissance'].astype('str') + '-' + dataset['moisNaissance'].astype('str') + '-' + dataset['anneeNaissance'].astype('str')

In [34]:
dataset['dateNaissance'].head()

0     5-3-1949
1    28-6-1971
2    12-1-1964
3    17-8-1944
4    30-8-1930
Name: dateNaissance, dtype: object

In [35]:
dataset['dateNaissance'] = pd.to_datetime(dataset['dateNaissance'], format = '%d-%m-%Y')

C:\Users\marti\AppData\Local\Temp\ipykernel_34716\3335926060.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['dateNaissance'] = pd.to_datetime(dataset['dateNaissance'], format = '%d-%m-%Y')

In [36]:
dataset['dateNaissance'].dtypes

dtype('<M8[ns]')

In [37]:
dataset['today']=pd.to_datetime('now')

C:\Users\marti\AppData\Local\Temp\ipykernel_34716\3621022921.py:1: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  dataset['today']=pd.to_datetime('now')
C:\Users\marti\AppData\Local\Temp\ipykernel_34716\3621022921.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['today']=pd.to_datetime('now')

In [38]:
dataset['age']= dataset.apply(lambda x: relativedelta(x.dateNaissance).years,axis =1)

C:\Users\marti\AppData\Local\Temp\ipykernel_34716\1384606129.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['age']= dataset.apply(lambda x: relativedelta(x.dateNaissance).years,axis =1)

In [39]:
dataset['age'].head()

0    0
1    0
2    0
3    0
4    0
Name: age, dtype: int64

In [ ]:
#analyse des donnnées , lister les top 5 milliardaires

In [40]:
dataset.columns

Index(['rang', 'categorie', 'prenomNom', 'pays', 'ville', 'source', 'domaine',
       'luiMeme', 'genre', 'nom', 'prenom', 'revenuFinal', 'anneeNaissance',
       'moisNaissance', 'jourNaissance', 'cpi_pays', 'pib_pays',
       'esperance_ de_vie_pays', 'tax_revenue_pays',
       'total_taux_imposition_pays', 'population_pays', 'dateNaissance',
       'today', 'age'],
      dtype='object')

In [41]:
dataset = dataset.sort_values ( by = 'revenuFinal', ascending=False)

In [42]:
dataset[['prenomNom','revenuFinal']].head()

                  prenomNom  revenuFinal
0  Bernard Arnault & family       211000
1                 Elon Musk       180000
2                Jeff Bezos       114000
3             Larry Ellison       107000
4            Warren Buffett       106000